# Assignment 1: Dino Fun World

You, in your role as a burgeoning data explorer and visualizer, have been asked by the administrators of a small amusement park in your hometown to answer a couple questions about their park operations. In order to perform the requested analysis, they have provided you with a database containing information about one day of the park's operations.

### Provided Database

The database provided by the park administration is formatted to be readable by any SQL database library. The course staff recommends the sqlite3 library. The database contains three tables, named 'checkins', 'attractions', and 'sequences'. The information contained in each of these tables is listed below:

`checkins`:
    - Description: check-in data for all visitors for the day in the park. The data includes two types of check-ins, inferred and actual checkins.
    - Fields: visitorID, timestamp, attraction, duration, type
`attraction`:
    - The attractions in the park by their corresponding AttractionID, Name, Region, Category, and type. Regions are from the VAST Challenge map such as Coaster Alley, Tundra Land, etc. Categories include Thrill rides, Kiddie Rides, etc. Type is broken into Outdoor Coaster, Other Ride, Carussel, etc.
    - Fields: AttractionID, Name, Region, Category, type
`sequences`:
    - The check-in sequences of visitors. These sequences list the position of each visitor to the park every five minutes. If the visitor has not entered the part yet, the sequence has a value of 0 for that time interval. If the visitor is in the park, the sequence lists the attraction they have most recently checked in to until they check in to a new one or leave the park.
    - Fields: visitorID, sequence
    
The database is named 'dinofunworld.db' and is located in the 'readonly' directory of the Jupyter Notebook environment. It can be accessed at 'readonly/dinofunworld.db'.

### Questions to Answer

The administrators would like you to answer four relatively simple questions about the park activities on the day in question. These questions all deal with park operations and can be answered using the data provided.

Question 1: What is the most popular attraction to visit in the park?
Question 2: What ride (note that not all attractions are rides) has the longest visit time?
Question 3: Which Fast Food offering has the fewest visitors?
Question 4: Compute the Skyline of number of visits and visit time for the park's ride and report the rides that appear in the Skyline.

#### Administrative Notes

This assignment will be graded by Coursera's grading system. In order for your answers to be correctly registered in the system, you must place the code for your answers in the cell indicated for each question. In addition, you should submit the assignment with the output of the code in the cell's display area. The display area should contain only your answer to the question with no extraneous information, or else the answer may not be picked up correctly. Each cell that is going to be graded has a set of comment lines at the beginning of the cell. These lines are extremely important and must not be modified or removed.

In [1]:
import sqlite3
db_filename='dinofunworld.db'
conn = sqlite3.connect(db_filename)
c=conn.cursor()

In [10]:
# Graded Cell
# PartID:  NDnou
# Question 1: What is the most popular attraction to visit in the park?
# Notes: Your output should be the name of the attraction.
c.execute("SELECT Name FROM (SELECT checkin.attraction,attraction.Name FROM checkin LEFT JOIN attraction ON checkin.attraction=attraction.AttractionID) GROUP BY attraction ORDER BY count(attraction) DESC LIMIT 1")
attr_name=c.fetchall()
print(attr_name[0][0])

Atmosfear

In [4]:
# Graded Cell
# PartID: FXGHp
# Question 2: What ride (note that not all attractions are rides) has the longest average visit time?
# Notes: Your output should be the name of the ride.
c.execute("SELECT AttractionID, Name FROM attraction where LOWER(Category) LIKE '%ride%'")
first_list = c.fetchall()
time_data = ("", 0)
for (attid, name) in first_list:
    c.execute("SELECT duration FROM checkin where attraction="+str(attid)+"")
    second_list = c.fetchall()
    tot_dur = 0
    n = 1
    for duration in second_list:
        try:
            dur = duration[0].split(':')
            tot_dur +=((int(dur[0])*3600) +(int(dur[1])*60)+ int(dur[2]))
            n += 1
        except:
            continue
    avg_dur = tot_dur / n
    if avg_dur > time_data[1]:
        time_data = (name, avg_dur)
print(time_data[0])

TerrorSaur

In [11]:
# Graded Cell
# PartID: KALua
# Question 3: Which Fast Food offering in the park has the fewest visitors?
# Notes: Your output should be the name of the fast food offering.
c.execute("SELECT Name FROM (SELECT  checkin.attraction,attraction.Name,attraction.type FROM checkin LEFT JOIN attraction ON checkin.attraction=attraction.AttractionID) WHERE type LIKE '%Fast Food%'  GROUP BY attraction ORDER BY count(attraction) ASC LIMIT 1")
few=c.fetchall()
print(few[0][0])

Theresaur Food Stop

In [12]:
# Graded Cell
# PartID: B0LUP
# Question 4: Compute the Skyline of number of visits and visit time for the park's ride and 
#  report the rides that appear in the Skyline. 
# Notes: Remember that in this case, higher visits is better and lower visit times are better. 
#  Your output should be formatted as an array listing the names of the rides in the Skyline.
datas=[]
c.execute("SELECT AttractionID, Name FROM attraction where LOWER(Category) LIKE '%ride%'")
first_list = c.fetchall()
time_data = ("", 0)
for (attid, name) in first_list:
    c.execute("SELECT duration FROM checkin where attraction="+str(attid)+"")
    second_list = c.fetchall()
    tot_dur = 0
    n = 1
    for duration in second_list:
        try:
            dur = duration[0].split(':')
            tot_dur +=((int(dur[0])*3600) +(int(dur[1])*60)+ int(dur[2]))
            n += 1
        except:
            continue
    avg_dur = tot_dur / n
    datas.append((name,n,avg_dur)) 

def Sort_Tuple(tup,y):  
  
    tup.sort(key = lambda x: x[y])  
    return tup  
tup = datas
tup_f_1=Sort_Tuple(tup,1)[-1]  
x=tup_f_1
#print("x is", tup_f_1 )
tup_f_2=Sort_Tuple(tup,2)[0]  
y=tup_f_2
#print("y is ",tup_f_2)
updated_list=[]

for item in datas:
    if item[1]>y[1]:
        y=item
        updated_list.append(item)
    elif item[2]<x[2]:
        x=item
        updated_list.append(item)
#print(updated_list)
solution=[]
for item in updated_list:
    solution.append(item[0])
print(solution)

['Dykesadactyl Thrill', 'Wrightiraptor Mountain', 'Galactosaurus Rage', 'Keimosaurus Big Spin', 'Atmosfear']